<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="../angular.js"></script>
        <script src="1.js"></script>
    </head>

    <body ng-app="app">
        <div ng-controller="appController">
            <p>
                First Name <input name="firstName" ng-model="firstName"></input>
            </p>
            <p>
                First Name <input name="lastName" ng-model="lastName"></input>
            </p>
            <p>Hello {{ firstName}} {{lastName}}</p>
        </div>
    </body>
</html>
